aside#contacts {
    user-select: none;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

ul.contacts__contacts-list {
    flex: 1 1 auto;
    overflow: auto;
}

li.contacts-list__contact,
li.contacts-list__add-contact,
li.contacts-list__create-group {
    padding: var(--default-padding);
    cursor: pointer;
}

li.contacts-list__contact:hover,
li.contacts-list__contact.contacts-list__contact--select,
a.user__settings:hover {
    background-color: var(--white-opacity);
}

li.contacts-list__add-contact:hover > i,
li.contacts-list__create-group:hover > i,
a.user__settings:hover {
    color: var(--secondary-color);
}

li.contacts-list__add-contact > i,
li.contacts-list__create-group > i {
    width: 5rem;
    height: 5rem;
    color: #aaa;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__picture {
    width: 5rem;
    height: 5rem;
}

.contact__picture > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

a.user__settings {
    flex: 0 0 auto;
    border-top: 2px solid rgba(0, 0, 0, 0.404);
    width: 7rem;
    height: 7rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
