@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('./box.css');
@import url('./components.css');
@import url('./contacts.css');
@import url('./friends.css');
@import url('./header.css');
@import url('./resets.css');
@import url('./search-area.css');
@import url('./messages.css');
@import url('./vars.css');

main {
    flex-grow: 1;
    overflow: auto;
    background-color: #000;
    display: flex;
    justify-content: start;
}
