:root { font-size: 62.5%; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

*::-webkit-scrollbar { width: .5rem; }
*::-webkit-scrollbar-thumb { background-color: rgba(255, 255, 255, .2); }
*::-webkit-scrollbar-track { background: transparent; }